extends layout

block content
	.main.container
		.row
			.col-md-9 
				p	h1 About
					Royal Niddle is a one stop shop in Beauty and Fashion with strength in Fashion Design, Fashion Training & Development and Accessories.

					A leader in the Fashion Industry in Nigeria with client base spread across Africa,and the globe.
					The Management Team is made up of young men and women with experiences drawn from renowned Fashion Houses and Designers.