extends layout

block content
	.main.container
		.row
			.col-md-9
				div
					h2 Contact Us
					p.red 
						No 4,Aibangbe Avenue,Aibangbe,Ojodu.lagos Royalniddle@yahoo.co.uk 
					span 08035644573,08131085385