extends layout

block content

	.main.container
		.row
			.col-md-10.col-md-offset-2
				a.nav-link.scroll(href='/signup')
					h1 Register to be our distributor now!

		.row.red
			.col-md-6.col-md-offset-3
				h1 Royal Niddle Outfits

		.row
			.col-md-4.group
				a.nav-link.imga(href='/')
					img.index(src='/images/image1.jpg' alt='clothes' title='this is a sample site for now')
				div.form-group
					select.form-control(id='size' name='size')
							option Select Size
							option(value='23') 23
							option(value='25') 25
			.col-md-4.group
				a.nav-link.imga(href='/')
					img.index(src='/images/image2.jpg' alt='clothes' title='this is a sample site for now')
				div.form-group
					select.form-control(id='size' name='size')
							option Select Size
							option(value='23') 23
							option(value='25') 25
			.col-md-4.group
				a.nav-link.imga(href='/')
					img.index(src='/images/image3.jpg' alt='clothes' title='this is a sample site for now')
				div.form-group
					select.form-control(id='size' name='size')
							option Select Size
							option(value='23') 23
							option(value='25') 25

