doctype html

head
	meta(charset='utf-8')
	meta(name='view-port', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	title Royal Niddle | #{title}
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
	
  
body(data-spy="scroll", data-target=".myScrollspy", data-offset="10")

	.carousel.slide(data-ride="carousel" id="myCarousel")
		.carousel-inner(role="listbox")
			.item.active
				img.img-responsive(src="/images/images/download (1).jpg")
				.carousel-caption 
					h1 This is a test carousel 1
			.item
				img.img-responsive(src="/images/images/download (2).jpg")
				.carousel-caption 
					h1 This is a test carousel 2
			.item
				img.img-responsive(src="/images/images/download (3).jpg")
				.carousel-caption 
					h1 This is a test carousel 3
			.item
				img.img-responsive(src="/images/images/download (4).jpg")
				.carousel-caption 
					h1 This is a test carousel 4
		ol.carousel-indicators
			li.active(data-target="#myCarousel" data-slide-to="0")
			li(data-target="#myCarousel" data-slide-to="1")
		

	//load navbar
	include navbar

	//content block
	block content

	// footer
	p.foot.text-xs-center  Invision Scope


