nav.navbar.navbar-fixed-top.navbar-bg-inverse.resize
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.shown(href='/')
            img.avatar(src='/images/home.jpg')
      a.navbar-brand.hiddez(href='/') 
        i.icn-logo.material-icons bookmark_border
        | Royal Niddle Clothings
    #navbar.collapse.navbar-collapse 
      
      ul.nav.navbar-nav.mainNav
        if !hideSign
          li
            a(href='/signup') Sign up
        li.dropdown.nav-item.nav-link
          a.dropdown-toggle(href='/aboutus', data-toggle="dropdown") About us
            span.caret
            ul.dropdown-menu
              li.nav-item.nav-link
                a tos
        li.nav-item.nav-link
          a(href='/contactus') Contact us
        if currentUser || user
          li.nav-item.nav-link
            a(href='/users/profile') My Profile
      ul.nav.navbar-nav.navbar-right.loginButton
        if currentUser || user
          li.nav-item.nav-link
            img.avatar(src='/images/home.jpg' alt='avatar')
          li.nav-item.nav-link
            a.btn.btn-light(href='/users/logout') Log out
        else
          li.nav-item.nav-link
            span.glyphicon.glyphicon-log-in
            a.btn.btn-info(href='/login') Log in
      
