nav.navbar.navbar-fixed-top.navbar-bg-inverse
  .container-fluid
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
      span.icon-bar
      span.icon-bar
      span.icon-bar
   
    #navbar.collapse.navbar-collapse 
      a.navbar-brand(href='/')
          img.avatar(src='/images/home.jpg')
      a.navbar-brand(href='/') 
        i.icn-logo.material-icons bookmark_border
        | Royal Niddle Clothings
      ul.nav.navbar-nav.mainNav
        if !hideSign
          li
            a(href='/signup') Sign up
        li.dropdown
          a.dropdown-toggle(href='/aboutus', data-toggle="dropdown") About us
            span.caret
            ul.dropdown-menu
              li 
                a tos
        li
          a(href='/contactus') Contact us
        if currentUser || user
          li
            a(href='/users/profile') My Profile
      ul.nav.navbar-nav.navbar-right.loginButton
        if currentUser || user
          li
            img.avatar(src='/images/home.jpg' alt='avatar')
          li
            a.btn.btn-light(href='/users/logout') Log out
        else
          li
            span.glyphicon.glyphicon-log-in
            a.btn.btn-info(href='/login') Log in
      
