extends layout


block content
	.main.container
		.row
			.col-md-6
				if(user)
					img(src=user.photo alt='avatar' title='your pics from facebook')
					| #{user.name}
				a(href='/') Go home
			.col-md-6
			if(user)
				h2=user.name

